@charset "utf-8";

.content {
  width: 100%;
  padding: 32px 0;
  background-color: #f2f6f7;
}

.inner {
  margin: 0 auto;
  width: 640px;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  transition: .3s;
  padding: 13px;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}

.btn_in {
  text-decoration: none;
}

.input_init {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
}

.input_area {
  box-sizing: border-box;
  height: 36px;
  width: 100%;
  padding: 5px;
  color: #545658;
  font-size: 13px;
  line-height: 2;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}

.input_area:focus {
  background-color: #FFF;
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgba(1, 191, 189, .1);
}

.is_full_width {
  width: 100%;
}

.is_halfwidth {
  width: 50%;
}

.link_color {
  color: #01a6a4;
}

.link_color:hover {
  color: #01bfbd;
}

.main_content {
  box-sizing: border-box;
  margin-bottom: 32px;
  padding: 48px 64px;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgb(0,0,0,.18);
}

.form_title {
  text-align: center;
  margin-bottom: 24px;
  color: #545658;
  font-size: 24px;
}

.start_btn_multiple {
  display: flex;
  margin-bottom: 8px;
}

.btn_half_width {
  width: 50%;
}

.start_btn:last-child {
  margin-left: 8px;
}

.is_facebook {
  color: #FFF;
  background-color: #3b5999;
  border-color: #3b5999;
}

.is_facebook:hover {
  background-color: #344e87;
  border-color: transparent;
}

.is_google {
  color: #dd4b39;
  background-color: #FFF;
}

.is_google:hover {
  background-color: #f7f7f7;
}

.default_text {
  color: #949697;
  font-size: 12px;
}

.annotation {
  text-align: center;
}

.top_separate {
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.top_separate p {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  background-color: #FFF;
}

.top_separate::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  background-color: #ececec;
}

.full_name_box {
  display: flex;
}

.row {
  margin-bottom: 20px;
}

.name {
  margin-left: 16px;
}

.name:first-child {
  margin-left: 0;
}

.label_text {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: #545658;
}

.alert {
  color: #dd4b39;
}

.gender_content_multiple {
  display: flex;
  color: #545658;
  font-size: 16PX;
}

.gender_content {
  margin-left: 15PX;
  cursor: pointer;
}

.gender_content:first-child {
  margin-left: 0;
}

.gender_content span {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.gender_content span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  width: 14px;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.gender_input:checked + span::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  height: 8px;
  width: 8px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #01bfbd;
}

.gender_content input {
  display: none;
}

.select_area {
  position: relative;
}

.select_area::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 45%;
  transform: rotate(45deg);
  height: 5px;
  width: 5px;
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}

.course_option {
  margin-bottom: 10px;
  color: #545658;
  font-size: 16px;
}

.course-option:last-child {
  margin-bottom: 0;
}

.course_option_text {
  position: relative;
  padding-left: 25px;
}

.course_option_text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 15px;
  width: 15px;
  margin-top: -8px;
  border: 1px solid #d9d9d9;
}

.course_option input:checked +
.course_option_text::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 50%;
  transform: rotate(45deg);
  height: 16px;
  width: 8px;
  margin-top: -12px;
  border-right: 3px solid #01bfbd;
  border-bottom: 3px solid #01bfbd;
}

.course input  {
  display: none;
}

.remark .input_area {
  height: 100px;
}

.submit_btn {
  padding: 13px;
  background-color: #01bfbd;
  color: #FFF;
}

.submit_btn:hover {
  background-color: #01a6a4;
}

.submit_btn:active {
  background-color: #FFF;
  color: #01a6a4;
  border: 1px solid #d9d9d9;
}

.agreement {
  font-size: 12px;
  line-height: 16px;
}

.foot_part {
  text-align: center;
}

.foot_part a:hover {
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  border-bottom-color: #01bfbd;
}

.foot_part p,
.resend_mail {
  margin-bottom: 8px;
  line-height: 16px;
  font-size: 12px;
}

.resend_mail {
  display: inline-block;
}











